@{
    ViewData["Title"] = "Books";
}

<div class="d-flex align-items-center justify-content-between">

<h1>Books</h1>

    @if (User.IsInRole("Admin"))
    {
        <a class="nav-link text-white btn btn-success mt-4" asp-area="" asp-controller="Books" asp-action="Create">New Book Add</a>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Search">Books Search</a>
</div>

@model List<BookViewModel>

<div class="table-responsive rounded shadow mt-5">
    <table class="table table-striped table-hover table-bordered mb-0">
        <thead class="bg-light">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publication Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.ISBN</td>
                    <td>@item.PublicationYear</td>
                    <td>
                        <a class="btn btn-sm btn-success me-2" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-sm btn-primary me-2"
                               asp-action="Update"
                               asp-route-id="@item.Id">Edit</a>

                            <a class="btn btn-sm btn-danger"
                               asp-action="Delete"
                               asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


